<% if (user == null) {%>
    <header class="headerContainer">
        <p>Web III: Advanced Web Development</p>
        <p>Assignment II</p>
     </header>
<% } %>

<% if (user) {%>
    <header class="headerContainer">
        <p>Web III: Advanced Web Development</p>
        <p>Assignment II</p>
        <p>log out</p>
     </header>
<% } %>

