<% if (user == null) {%>
<header class="headerContainer">
  <p>Web III: Advanced Web Development</p>
  <p>Assignment II</p>
</header>
<% } %> <% if (user) {%>
<header class="headerContainer">
  <p>Web III: Advanced Web Development</p>
  <p>Assignment II</p>
  <a href="/logout" class="logoutIcon"
    ><ion-icon name="power-sharp"></ion-icon
  ></a>
</header>
<% } %>
