@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


html, body {
    margin: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif, Georgia;
    color:white;
    background-color: black;
    animation: fadeInAnimation ease-in 1.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation{
    0%{
        filter: brightness(0.25);
    }
    100% {
        filter:brightness(1);
    }
}



.headerContainer{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    color: white;
    font-weight: 300;
    margin-top:10px;
    font-size:30px;
    position: absolute;
    width:100%;

}

.container{
    display:flex;
    flex-direction:row;
    height:100%;
    align-items: center;
    justify-content: center;
}

.leftContainer{
    font-size:3.5rem;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    flex-basis: 70%;
    flex-grow: 0;
    flex-shrink: 1;
    letter-spacing: 2px;
}

.mainText{
    margin-bottom:0;
}

.secondaryText{
    margin-top:3px;
    color:rgba(255, 255, 255, 0.3);
}


.rightContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-basis:30%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size:1.5rem;
    margin-right:30px;
}


.form-box{
    position: relative;
    width: 400px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1C1C1C;
    border-radius: 8px;
    overflow: hidden;
}


/*Animation used from this reference: https://www.youtube.com/watch?v=rWQeqH526KA&t=76s*/
.form-box::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, #6B0021, #6B0021, #6B0021);
    z-index:1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

.form-box::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, #6B0021, #6B0021, #6B0021);
    z-index:1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.borderline{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderline::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, #45F3FF, #4F53FF, #45F3FF);
    z-index:1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderline::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 400px;
    height: 450px;
    background: linear-gradient(0deg, transparent, transparent, #45F3FF, #4F53FF, #45F3FF);
    z-index:1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

/************************************************/

form {
    inset: 4px;
    background: #222;
    padding: 60px 40px;
    border-radius: 8px;
    z-index: 2;
}

form > * {
    transform:translateY(-30px);
}

form p {
    font-size: 1.5em;
    text-align:center;
}

.field{
    position: relative;
    margin: 30px 0px;
    width: 310px;
    border-bottom : 2px solid #FFF;
}

.field label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label,
input:not(:placeholder-shown) ~ label{
    top: -5px;
}

.field input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    padding: 0px 35px 0px 5px;
    color: #FFF;
    font-size:1.3rem;
}

input::placeholder{
    opacity: 0;
    transition: .5s;
    font-size:1rem;
}

input:focus::placeholder{
    opacity: 1;
}

.field ion-icon{
    position: absolute;
    right: 8px;
    color: #FFF;
    top: 20px;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
}

.btn {
    text-decoration: none;
    box-shadow: 7px 6px 28px 1px rgba(255, 255, 255, 0.14);
    cursor: pointer;
    outline: none;
    transition: 0.2s;
}
  
.btn:active {
    transform: translateY(1px);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(255, 255, 255, 0.14);
    /* Lowering the shadow */
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;  
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
    font-size:1.3em;
    gap: 50px;
  }

  ion-icon{
    font-size: 1.5rem;
    transition:0.7s;
    color: white;
  }

  ion-icon:hover{
    color: red;
  }

  #msg2{
    position:absolute;
    color:red;
    font-size:1.1rem;
    text-align: center;
    width:310px;
    font-weight:400;
  }